/*inicia menu */
.menu{
    position: relative;
}
.menu ul{
    list-style: none;
    padding: 0;
}
.menu li{
    line-height: 3rem;
    position: relative;
}
.menu li ul{
    position: relative;
}
.menu a{
    color: rgb(0, 0, 0);
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
}
.menu a:hover{
    background: rgba(0,0,0,0.5);
    transition: .4s;
}
.menu li ul{
     display: none; 
}
.menu li:hover > ul{
    display: block;
} 
.menu  > ul{
    background: rgba(211, 211, 211, 0.986);
    display: table;
    width: 100%;
}
.menu > ul > li{
    float: left;
}



.menu li li {
    background: rgba(211, 211, 211, 0.986);
    width: 200px;
}
.menu > ul > li > ul{
    top: 100%;
}


.menu ul ul ul{
    left: 100%;
    top: 0;
}
/*fin de menu*/

 /* inicio slaider */
* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

input[name="slider-select-element"] {
    display: none;
}

#slider-arrows {
    margin: -10% auto 0 auto;
    width: 80%;
}

#slider-box {
    height: 100%;
    width: 300%;
}

#slider-container {
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 80%;
}

.element-blue,
.element-green,
.element-red {
    min-height: 400px;
    max-height: 100%;
    width: 100%;
}

.element-blue {
    background: blue  ;
}

.element-green {
    background: green  ;
}

.element-red {
    background: red  ;
}

.slider-element {
    float: left;
    width: 33.333%;
}

#element1:checked ~ #slider-arrows label:nth-child(2),
#element2:checked ~ #slider-arrows label:nth-child(3),
#element3:checked ~ #slider-arrows label:nth-child(1) {
    display: block;
    float: right;
}

#element1:checked ~ #slider-arrows label:nth-child(3),
#element2:checked ~ #slider-arrows label:nth-child(1),
#element3:checked ~ #slider-arrows label:nth-child(2) {
    display: block;
    float: left;
}

#element1:checked ~ #slider-arrows label:nth-child(2):before,
#element2:checked ~ #slider-arrows label:nth-child(3):before,
#element3:checked ~ #slider-arrows label:nth-child(1):before {
    color: black  ;
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#element1:checked ~ #slider-arrows label:nth-child(3):before,
#element2:checked ~ #slider-arrows label:nth-child(1):before,
#element3:checked ~ #slider-arrows label:nth-child(2):before {
    color: black  ;
    content: "\f053";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#element1:checked ~ #slider-container #slider-box {
    margin-left: 0;
}

#element2:checked ~ #slider-container #slider-box {
    margin-left: -100%;
}

#element3:checked ~ #slider-container #slider-box {
    margin-left: -200%;
}

#slider-arrows label {
    color: transparent;
    cursor: pointer;
    display: none;
    font-size: 2rem;
    height: 20px;
    width: 20px;
}

#slider-box {
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
} 

/*  fin slaider */
/*inicia cajas*/
.contenedor{
    float: left;
     margin: 180px 20px;
} 
.caja{
    float: left;
    margin: 20px;
    padding: 10px;
    display: block;
    background: rgb(0,0,0,0.2);
    box-shadow: 10px 12px 11px rgb(16, 4, 0,0.6);
}
.prenda{
    display: block;
    padding: 0px;
    margin: 12px 80px;
    position: absolute;
}
.precio{
    display: block;  
    padding: 28px;
    margin: 20px 86px;
}
.adquirir{
    display: block;
    padding: 5px;
    margin: 6px 118px;
    border: solid;
    background: blue;
    color: white;
}
.caja:hover{
    color: salmon;
    background-color: red;
}

.img{
    width: 100%;
    border-radius: 29px;
    
}
/* .img1{
    position: absolute;
    bottom:0;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    transform: translateY();
} */
.fin{
    text-decoration: none;
    display: block; 
    float: left;
    width: 94%;
    border: solid;
    text-align: center;
    margin: 71px 44px;
}